<!DOCTYPE html>
<html>
<head>
  <title>MobiCms</title>
  <%= stylesheet_link_tag    "mobi_cms/application", :media => "all" %>
  <%= javascript_include_tag "mobi_cms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
